{% extends 'base.html.twig' %}

{% block title %}Edit MouvementProduit{% endblock %}

{% block body %}
    <h1>Edit MouvementProduit</h1>

    {{ include('mouvement_produit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_mouvement_produit_index') }}">back to list</a>

    {{ include('mouvement_produit/_delete_form.html.twig') }}
{% endblock %}
